body {
    color: #070101;
    background: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .center {
    text-align: center;
  }
  
  #Header1 {
    margin-top: 20px;
    font-size: 30px;
    font-weight: bold;
  }
  
  #Container {
    font-size: 20px;
    font-weight: bold;
  }
  
  #cityInput,
  button {
    margin: 3px;
    padding: 5px;
    font-size: 20px;
    font-weight: bold;
  }
  
  #weatherContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    width: 90%;
    border: 5px solid, black;
    border-radius: 10px;
    padding: 10px;
  }
  
  #currentWeather, #forecastWeather {
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border: 5px solid rgb(48, 47, 47);
    border-radius: 10px;
  }
  
  #iconsContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border: 5px solid rgb(48, 47, 47);
    border-radius: 10px;
  }
  
  .weather-icon {
    height: 80px;
    width: 80px;
    margin: 10px;
  }
  
  .weather, .temp, .humidity, .windSpeed {
    margin: 5px;
    border-radius: 5px;
    font-weight: bold;
  }
  
  #searchHistory {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
    padding: 10px;
    border: 5px solid;
    border-color: black;
    border-radius: 10px;
  }
  
  .historyItem {
    cursor: pointer;
    margin: 5px;
    padding: 5px;
    border: 2px solid #000;
    border-radius: 5px;
    border-color: black;
  }
  
  .historyItem:hover {
    background-color: rgba(97, 95, 95, 0.829);
    color: white;
  }
  